{% extends "base.html" %}
{% block content %}

<!-- Recipe section-->

<section class="bg-light py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            {% for recipe in recipes %}
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 text-center">
                <div class="feature mb-3">
                    <img src="https://media.istockphoto.com/id/1063025552/photo/flat-lay-of-friends-feasting-at-thanksgiving-day-table-with-turkey.jpg?s=612x612&w=0&k=20&c=_nsY7Yc5AUjPJaRK10B6drNP4QeASvy2YBf4Ds6qAsY="
                        alt="Image of feast" class="img-fluid rounded-3" style="max-width: 200%; height: auto;"></i>
                </div>
                <h2 class="h4 fw-bolder">{{ recipe.name }}</h2>
                <p>{{ recipe.cuisine }}</p>
                <div class="mb-1">
                    <a href="{{ url_for('full_recipe', recipe_id=recipe.id) }}" class="text-decoration-none">
                        View Full Recipe
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="mb-3">
                    <a class="btn btn-warning" href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
                        Edit
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}