{% extends "base.html" %}
{% block content %}

<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-trash"></i>
            </div>
            <h2 class="fw-bolder">Delete Recipe</h2>
            <p class="lead mb-0">Are you sure you want to delete the recipe '{{ recipe.name }}'?</p>
            <div class="row gx-5 justify-content-center mt-3">
                <div class="col-lg-6">
                    <form method="POST" action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">
                        <div class="d-grid">
                            <input type="submit" value="Delete" class="btn btn-danger btn-lg">
                        </div>
                    </form>
                    <div class="d-grid mt-2">
                        <a href="{{ url_for('index') }}" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}